body{
    margin:0;
    border: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}      
thead{
    background-color: darkslategray;
    color: #fff; 
    
}
thead tr{
    height: 50px;
}
tbody tr{
   background-color: #fff;
}
table{
    width: 80%;
    margin: 120px 0 0 80px;
    border: 1px solid #A4A4A4;
}
td{
    border: 0;
}
