<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h1>Página Inicial</h1><hr>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Séries</a></li>
        <li><a href="/">Downloads</a></li>
        <li><a href="/noticias">Noticias</a></li>
        <li><a href="/cadastro">Cadastros</a></li>
        <li><a href="/">SAC</a></li>
    </ul>
</body>
</html>